@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    2299 E. Obispo Rd<br />
    Gilbert, AZ 85233<br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.3504223643017!2d-111.84142018480301!3d33.36191638079938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba8337f58c8b9%3A0x4eac87f624a900f!2s2299+W+Obispo+Ave%2C+Gilbert%2C+AZ+85233!5e0!3m2!1sen!2sus!4v1477628098068" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
